
@import '../../../styles/settings.scss';

.root {
  @include height();
  .welcome {
    margin: 50px 0;
    background-color: cadetblue;
    color: black;
    text-align: center;

    .addButton {
      margin-top: 30px;
    }
  }
  .link {
    text-decoration: none;
  }
}