@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.root {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
  
    .icon {
        font-size: 30px;
        margin: 15px;
        color: black;
        align-items: center;
        float: right;
        padding-right: 20px;
    }
    p{
        padding-left: 15px;
    }
    }


@include tablet {
    .root {
        height: 10vh;
        font-size: 24px;
        .icon {
            font-size: 32px;
        }
    }
}

@include mobile {
    .root {
        flex-direction: column;
        height: 24vh;
        .leftBar {
            padding-top: 3px;
            justify-content: space-between;
        }
        .rightBar {
            padding-right: 2px;
            justify-content: center;
            h2 {
                margin-right: 10px;
            }
        }
    }
}