@import '../../../styles/settings.scss';

.root {
  background-color: aliceblue;
  .text{
    background-color: aliceblue;
  }
  h2{
    margin-left: 30px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
  }
}