@import '../../../styles/settings.scss';

.root {
  @include flex(column, center, center);
  @include height();
  color: $dark;

  .spinner {
    text-align: center;
    margin: 100px 0;
    font-size: 25px;
  }

  .link {
    text-decoration: none;
  }

  .postContainer {
    width: 850px;
    margin: 20px 0;
    padding: 20px 0;
    background: $light;
    border-radius: 3%;
    @include flex(column, center, center);
    border: solid 1px $secondary-light;
    font-weight: 700;

    .draftWarning {
      text-align: center;
      p {
        color: $warning;
        font-size: $base-size;
      }
    }

    img {
      max-width: 100%;
      max-height: 400px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 5%;
    }

    .infoContainer {
      display: flex;
      @include flex(column, center, center);
      width: 100%;

      h1 {
        color: rgb(69, 113, 110);
        margin: 20px;
      }

      .address {
        margin: 10px 0;
        text-align: center;
        h2 {
          margin: 5px 0;
        }
      }
      .text {
        width: 100%;
        font-size: 25px;
        border-top: solid 1px $secondary-light;
        border-bottom: solid 1px $secondary-light;
        padding: 20px;
      }
      .price {
        font-size: $base-size +7;
        font-weight: 700;
        letter-spacing: 2px;
      }
      .contactInfo {
        text-align: center;
        background-color:rgb(69, 113, 110);
        width: 100%;
        padding: 10px;
        color: $light;
        letter-spacing: 2px;
        h3 {
          margin: 5px;
        }
        p {
          margin: 5px;
        }
        span {
          font-weight: 700;
        }
      }
      .dates {
        padding: 0 20px;
        color: rgb(4, 55, 20);
        font-weight: 800;
        font-size: 25px;
        padding-bottom: 10px;
        padding-top: 15px;
        p {
          font-weight: 800;
          font-size: 15px;
          span {
          margin-left: 50px;
          font-weight: 800;
        }
      }
        
      }
      .buttons {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
      }
    }
  }
}