@import '../../../styles/settings.scss';

.root {
  min-height: 60px;
  padding: 5px 55px;
  background-color: cadetblue;
  @include flex(row, center, center);

  p {
    color: black;
    font-size: $base-size;
    font-weight: 700;
  }
}

@media (max-width: 820px) {
  .root {
    p {
      color: black;
      font-size: 10px;
      font-weight: 700;
    }
  }
}