.root {
  background-color: cadetblue;
    .announcement {
      padding: 12px;
    }
    .addCard {
      display: flex;
      justify-content:center;
      margin: 12px;
    }
  
    .card {
      display: flex;
      justify-content: space-between;
      flex-basis: 100%;
      flex-wrap: wrap;
  
      &__item {
        flex-basis: 30%;
        margin: 12px;
        flex-grow: 1;
  
        .image {
          max-height: 40vh;
        }
  
        .price {
          margin-top: 12px;
        }
      }
  
      &__btn {
        justify-content: center;
      }
    }
  }